# ---- ENV FILES ----
.env
backend/.env
backend/app/.env
*.env

# ---- PYTHON ----
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# ---- FASTAPI / VENV ----
venv/
env/
.venv/

# ---- NODE / REACT ----
frontend/node_modules/
frontend/dist/
npm-debug.log
yarn-error.log

# ---- MISC ----
.DS_Store
.idea/
.vscode/
