.roadmap-wrapper {
  width: 100%;
  padding: 30px;
  text-align: center;
}

.timeline-title {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 30px;
}

.timeline-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding-top: 60px;
}

.timeline-road {
  width: 100%;
  height: 12px;
  background: repeating-linear-gradient(
    to right,
    #000,
    #000 10px,
    transparent 10px,
    transparent 20px
  );
  border-radius: 50px;
  position: absolute;
  top: 60px;
  left: 0;
}

.timeline-item {
  position: relative;
  margin: 80px 0;
}

.timeline-marker {
  width: 60px;
  height: 60px;
  background: #22c55e;
  border-radius: 50%;
  border: 6px solid white;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -40px;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: 700;
  color: white;
}

.timeline-content {
  background:linear-gradient(135deg, #0f172a, #1e293b);
  padding: 18px;
  width: 60%;
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 40px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

.timeline-content h3 {
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 700;
}

.timeline-content ul {
  padding-left: 0;
  list-style: none;
}

.timeline-content li {
  margin: 5px 0;
  font-size: 15px;
}
